<%- include ('partials/header.ejs'); -%>
<link rel="stylesheet"  type="text/css" href="styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <span class="nav-bar-toggler-icon"><h3 id="mid">QuizApp</h3></span>
      <a class="nav-link" href="/login">Log in</a>
      <a class="nav-link" href="/signup">Sign up</a>
    </nav>
     <div class="container-fluid" id="bg-1">
        <div class="container" id="main">
          <h1 >Make Quizzes</h1>
          <p>Use our app to make quizzes and test yourself!</p>
        </div>
     </div>
  
  
   
</body>
</html>